.columnSection {
    display: flex;
    justify-content: center;
}


.singleSection {
    width: 33%;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
}

.needToStart {
    background-color: rgb(243, 58, 58);
    border: 2px solid red;
}

.needToStart .li-item {
    background-color: rgb(253, 24, 24);
}

.inProgress {
    background-color: rgb(241, 182, 70);
    border: 2px solid orange;
}

.inProgress .li-item{
    background-color: rgb(245, 174, 42);
}

.completed {
    background-color: rgb(38, 212, 38);
    border: 2px solid green;
}

.completed .li-item {
   background-color: rgb(14, 167, 14); 
}

.sectionImage {
    height: 2rem;
}

.li-item{
    list-style-type: none;
    font-weight: 700;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgb(54, 54, 54);
    margin-bottom: 0.5rem;
}

.li-item .Minor {
    background-color: #26a030 !important;
}

.li-item .Moderate {
    background-color: #f5bc52 !important;
}

.li-item .Important {
    background-color: #f5332c !important;
}



.li-item button {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding:0.25rem;
    border-radius: 8px;
    font-weight: 600;
    margin: 0.5rem 1rem;
}

.li-item button:hover {
    background-color: rgb(75, 74, 74);
}

.lightMode .li-item button {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.lightMode .li-item button:hover {
    background-color: rgb(209, 208, 208);
}



@media (max-width: 1000px) {
    .singleSection {
        justify-self: center;
        width: 70%;
        border-radius: 8px;
        min-height: 3vh;
    }

    .columnSection {
        display: block;
    }
}
