* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.form-header {
  display: flex;
  justify-self: center;
  justify-content: center;
  padding: 2rem;
  background-color: aquamarine;
  border-radius: 10px;
  box-shadow: 2px 2px 2px aqua;

  width: 60%;
  margin: 2rem;
}

form {
  width: 90%;
  justify-items: center;
}
.botInput {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 1rem;
  height: 10vh;
  padding: 1rem;
  width: 100%;
}

.botInput select {
  height: 100%;
  width: 90%;
}

.bottom-line {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  height: 10vh;
  padding: 1rem;
}